@page "/"
@using Gilde.SchietScore.Application.Repositories
@using Gilde.SchietScore.Domain.Enums
@using MediatR
@rendermode InteractiveServer
@inherits CompetitieBase

<PageTitle>Competitie</PageTitle>

@if(HuidigeCompetitie == null)
{
    <h1>Competitie starten</h1>
    <p>Vul de onderstaande velden in om een nieuwe competitie te starten.</p>
    <EditForm FormName="CompetitieForm" Model="_nieuweCompetitie" OnSubmit="@StartCompetitie">
        <div style="display:flex; flex-direction:column; max-width: 550px;">
            <label>Competitie type:</label>
            <InputSelect @bind-Value="@_nieuweCompetitie.Name">
                <option value="@CompetitieType.Zomer">@CompetitieType.Zomer</option>
                <option value="@CompetitieType.Winter">@CompetitieType.Winter</option>
            </InputSelect>
            <label>Startdatum van de competitie:</label>
            <InputDate @bind-Value="_nieuweCompetitie.StartDate"></InputDate>
            <label>Einddatum van de competitie:</label>
            <InputDate @bind-Value="_nieuweCompetitie.EndDate"></InputDate>
            <input type="submit" value="Starten" class="btn btn-primary"/>
        </div>
    </EditForm>
    
}
@if (HuidigeCompetitie != null)
{
    <div style="display:flex; flex-direction:column; max-width: 550px;">
        <h1>@HuidigeCompetitie.Name</h1>
        <div style ="display:flex; flex-direction:row; justify-content:space-between; max-width: 550px;">
            <div>
                <label><b>Begonnen op:</b></label>
                <p>@HuidigeCompetitie.StartDate</p>
            </div>
            <div>
                <label><b>Eindigt op:</b></label>
                <p>@HuidigeCompetitie.EndDate</p>
            </div>
        </div>
        <button class="btn btn-primary" @onclick="CompetitieAfronden">Competitie afronden</button>
    </div>
}