@page "/schutters"
@using Gilde.SchietScore.Domain
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime

<PageTitle>Schutters</PageTitle>
<AuthorizeView Context="SchuttersAuthorization">
    @if (_schutters == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>Schutters (@_schutters.Count())</h1>

        <p>Dit is een overzicht van alle schutters</p>
        <EditForm FormName="SchuttersForm" Model="_schutters" OnSubmit="@SaveSchutters">
            <div class="tableFixHeadLarge">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Naam</th>
                            <th>KNTS</th>
                            <th>Klasse</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><InputText @bind-Value="_nieuweSchutter.Naam" placeholder="Vul naam in"></InputText></td>
                            <td><InputText @bind-Value="_nieuweSchutter.KNTSNummer" placeholder="Vul KNTSnummer in"></InputText></td>
                            <td>
                                <InputSelect @bind-Value="_nieuweSchutter.DeelnemerClassType">
                                    <option value="@DeelnemerClassType.A">@DeelnemerClassType.A</option>
                                    <option value="@DeelnemerClassType.B">@DeelnemerClassType.B</option>
                                    <option value="@DeelnemerClassType.C">@DeelnemerClassType.C</option>
                                </InputSelect>
                            </td>
                            <td></td>
                        </tr>
                        @foreach (var schutter in _schutters)
                        {
                            <tr>
                                <td>@schutter.Id</td>
                                <td><InputText @bind-Value="schutter.Naam" placeholder="Vul naam in"></InputText></td>
                                <td><InputText @bind-Value="schutter.KNTSNummer" placeholder="Vul KNTSnummer in"></InputText></td>
                                <td>
                                    <InputSelect @bind-Value="schutter.DeelnemerClassType">
                                        <option value="@DeelnemerClassType.A">@DeelnemerClassType.A</option>
                                        <option value="@DeelnemerClassType.B">@DeelnemerClassType.B</option>
                                        <option value="@DeelnemerClassType.C">@DeelnemerClassType.C</option>
                                    </InputSelect>
                                </td>
                                <td><i @onclick="(() => DeleteSchutter(schutter))" class="bi bi-trash" style="color:#3D040A; cursor: pointer; font-size:20px;"></i></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="container-btn-save">
                <input type="submit" value="Opslaan" class="btn btn-primary"/>
            </div>
        </EditForm>
    }
</AuthorizeView>